.mailchimp-subscriber-chiclet-for-wordpress.mailchimp-subscriber-chiclet-for-wordpress-wrapper .mainButton {
	width: 200px;
	height: 55px;
	text-align: center;
	color: white;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 19px;
}
